<section class="screening-process-out pt-5">
    <img src="/assets/img/step-screening-process.jpg" class="img-fluid" alt="">
    <div class="container pt-5">
      <div class="row">
        <div class="col-md-9">
          <div class="about-inn screening-process">
            <h2 class="text-success my-5">Two step screening process</h2>
            <h3 class="text-success my-4 font-weight-bold">Only the Specialist, Always<br> Efficient 2 Step screening to save time</h3>
            <p class="mt-4 mb-2">We know how important it is for you to hire the best person for the job. With Our AI powered system. your job requirements are sent only to the recruiters who have proven track record of filling these positions. You get responses only from the Qualified Recruiters.</p>
            <p class="my-2">The first step screening ensures that your requirements are only received to the specialists who are pre-vetted by us. Even after receiving the resumes from the specialist recruiters who are pre-vetted, People Infinia does another level of candidate screening for you..</p>
          </div>
          <div class="about-img mb-5">
              <img src="/assets/img/step-screening-process.jpg" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>