<section class="huge-talent-out pt-5">
    <img src="/assets/img/huge-talent-pool.jpg" class="img-responsive" alt="">
    <div class="container pt-5">
      <div class="row">
        <div class="col-md-9">
          <div class="about-inn huge-talent-pool">
            <h2 class="text-success my-5">Huge talent pool from every vertical</h2>
            <h3 class="text-success my-4 font-weight-bold">Data you can depend on with People Infinia’s Artificial Intelligence Platform</h3>
            <p class="my-2">Connect short-term hiring needs with long-term business
            goals. Use the freshest recruiting insights available. Don’t
            worry about outdated information and tainted data. 
            People Infinia monitors, refines, and tests each 
            aggregated data point for fairness, accuracy, relevance, 
            and data security on a consistent basis to provide the 
            freshest and most reliable candidate, job, and industry 
            data for your recruiting team in real-time.<p>
            <p class="my-3">No matter how big a company’s brand, only a small 
            fraction of qualified candidates actually apply to their jobs.</p>
            <p class="my-2">Companies in the People Infinia network get a competitive 
            advantage with immediate access to a new pool of 
            high-quality, diverse candidates who might never 
            have applied to their business.</p>
          </div>
          <div class="about-img my-2">
              <img src="/assets/img/huge-talent-pool.jpg" class="img-responsive" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>