<section class="search-match pt-5">
    <img src="/assets/img/search-match.jpg" class="img-fluid" alt="">
    <div class="container pt-5">
      <div class="row">
        <div class="col-md-9">
          <div class="about-inn search-match-inn">
            <h2 class="text-success my-5">Intelligent Search & Match Algorithm</h2>
            <h3 class="text-success my-4 font-weight-bold">Enhance the employment process with AI. Let our algorithms run career counselling, investigate candidates&apos; professional interests, instantly analyse a resume and provide a perfect job match</h3>
            <p class="mt-4 mb-2">Find your most qualified candidates faster with AI-powered consultant ranking, video interviews and real-world job simulations. </p>
            <p class="my-2">We’ll analyze your recruiting techniques with data-backed AI using machine learning to identify successful sourcing  patterns and draw to you potential candidates out of millions of online profiles from our huge database by applying  this algorithm to your existing database and beyond. </p>
            <p class="mt-2">People Infinia as a machine learning tool, gets smarter overtime use by implementing strategic feedback, and learned successes and failures to pivot your sourcing strategy toward gold-star candidates and long-term hires.</p>
          </div>
          <div class="about-img mb-5">
              <img src="/assets/img/search-match.jpg" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>