
<div id="resume-viewer" >
    <div class="container-fluid">
       <div class="row">
          <!--pdf-viewer-->
          <div class="col-md-9">
             <div class="panel-heading resume-pdf-viewer-head m-t-40">
                <div class="row">
                   <div class="col col-xs-6">
                      <p class="panel-title" routerLink="/main/resdesk"><a href="index.html"><img src="assets/img/left-arrow.png">
                         Back</a>
                      </p>
                   </div>
                   <div class="col col-xs-6 text-right">
                      <p class="panel-title">Showing 5/20 jobs</p>
                   </div>
                </div>
             </div>
             <!--candidate-resume-pdf-view-->
             <!--item-1-->
             <div id="Iframe-Cicis-Menu-To-Go" class="set-margin-cicis-menu-to-go set-padding-cicis-menu-to-go set-border-cicis-menu-to-go set-box-shadow-cicis-menu-to-go center-block-horiz">
                <div class="responsive-wrapper 
                   responsive-wrapper-padding-bottom-90pct"
                   style="-webkit-overflow-scrolling: touch; overflow: auto;">
                   <iframe src="https://drive.google.com/file/d/0BxrMaW3xINrsR3h2cWx0OUlwRms/preview">
                      <p style="font-size: 110%;"><em><strong>ERROR: </strong>  
                         An &#105;frame should be displayed here but your browser version does not support &#105;frames.</em> Please update your browser to its most recent version and try again, or access the file <a href="https://drive.google.com/file/d/0BxrMaW3xINrsR3h2cWx0OUlwRms/preview">with this link.</a>
                      </p>
                   </iframe>
                </div>
             </div>
          </div>
          <div class="col-md-3">
             <div class="candidate-resume-action">
                <!--candidate-action-head-->
                <div class="resume-action-head">
                   <h4>Aman Gautam's Resume</h4>
                   
                    <div class="candiadte-status m-t-40">
                        <label>Current Status</label>
                    <ul>
                        <li>
                                 <p>Company:</p>
                                 <span>UX Gorilla</span>
                        </li>
                        <li>
                                 <p>Joinig date:</p>
                                 <span>23rd July, 2018</span>
                        </li>
                        <li>
                                 <p>CTC:</p>
                                 <span>18Lacs P.a.</span>
                        </li>
                        <li>
                                 <p>Loaction:</p>
                                 <span>Gurugram</span>
                        </li>
                        </ul>
                    </div>
                </div>
                <!--end-->
             </div>
          </div>
       </div>
    </div>
 </div>