<!-- <div id="about_wrapper_slider" class="about_wrapper_slider">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-5 col-sm-5 pad-zero">
            <div class="banner_content"> -->
               <!-- <h2>Hello we are People Infinia</h2> -->
               <!-- <h2>We are both into B2B and B2C Business.</h2>
               <p>An AI based marketplace, aimed at streamlining the otherwise crazy and chaotic Recruitment process. People Infinia with its sophisticated technology and process ensures every employer gets the best match for a vacancy and every recruiter gets a fair chance to help them do that.</p>
               <p>People Infinia is India’s first AI powered recruitment Technology
platform company that enables clients to work with 1000’s of
freelance recruiters & Search Firms for their recruitment
requirement without managing any of them. The technology aims
at streamlining the otherwise chaotic recruitment process with
minimum human intervention. With the website driven by a world
class technology, every client gets the perfect candidates for the
position and every recruiter gets a fair chance to help the client
close the positions.</p>
            </div>
         </div> -->
         
         <!--
            <div class="col-md-7 col-sm-7 pad-zero">
            	<div class="banner_slider_image">
            		<div class="owl-carousel owl-theme">
            		<div class="item">
            			<img src="assets/img/banner/banner01.png" width="100%">
            	    </div>
            		<div class="item">
            			<img src="assets/img/banner/banner02.png" width="100%">
            		</div>
            		<div class="item">
            			<img src="assets/img/banner/banner03.png" width="100%">
            		</div>
            	</div>
            </div> 					
            </div>
            -->
         <!-- <div class="col-md-7 col-sm-7 pad-zero">
            <carousel>
               <slide>
                  <img src="assets/img/banner/banner01.png" alt="first slide" style="display: block; width: 100%;">
               </slide>
               <slide>
                  <img src="assets/img/banner/banner02.png" alt="second slide" style="display: block; width: 100%;">
               </slide>
               <slide>
                  <img src="assets/img/banner/banner03.png" alt="third slide" style="display: block; width: 100%;">
               </slide>
            </carousel>
         </div>
      </div>
   </div>
</div>
<section id="about_setion">
   <div class="container-fluid" style="padding: 0px;">
      <div class="row">
         <ul class="tabs"> -->
            <!-- <li class="tab-link" data-tab="tab-5" (click)="aboutTab = 1" [ngClass]="{'current':aboutTab == 1}">OUR TEAM</li> -->
             <!-- <li class="tab-link" data-tab="tab-6" (click)="aboutTab = 2" [ngClass]="{'current':aboutTab == 2}">OUR MISSION</li>
            <li class="tab-link" data-tab="tab-7" (click)="aboutTab = 3" [ngClass]="{'current':aboutTab == 3}">OUR VISION</li>
            <li class="tab-link" data-tab="tab-8" (click)="aboutTab = 4" [ngClass]="{'current':aboutTab == 4}">OUR STORY</li>
            <li class="tab-link" data-tab="tab-9" (click)="aboutTab = 5" [ngClass]="{'current':aboutTab == 5}">HOW ARE WE DIFFERENT</li>
            <li class="tab-link" data-tab="tab-10" (click)="aboutTab = 6" [ngClass]="{'current':aboutTab == 6}">What is People Infinia</li>
            <li class="tab-link" data-tab="tab-11" (click)="aboutTab = 7" [ngClass]="{'current':aboutTab == 7}">Why People Infinia</li>
            <li class="tab-link" data-tab="tab-12" (click)="aboutTab = 8" [ngClass]="{'current':aboutTab == 8}">HOW TO USE</li>
         </ul>
      </div>
   </div>
   <div class="container" [ngSwitch]="aboutTab">
      <div class="row">
          
          <div id="tab-5" *ngSwitchCase="1" class="tab-content current">
              <div class="row">
              <div class="col-md-12">
              <div class="about_content_area">
               <img src="assets/img/sandeep-gandhi.jpg" class="img-circle">
               <h3>Sandeep Gandhi</h3>
               <h5 class="text-center">Co.Founder & CEO,People Infinia</h5>
                  <p><strong>CHRO | CXO for a decade | Board Advisor | Entrepreneur | Coach | Motivational Speaker@Sports, mythology, turnarounds</strong></p>
                  <br>
                      <p>Anchored to people development function; disruption embracing, agile HR Leader with strong business acumen and value system. Over 20 + year of experience spanning FMCG, Digital, and Telecom of which a decade as a CXO of $5bn organizations. Global experience to help acquire and set up business in China and far east Asia.</p>
                      
                      <p>Have won Brandon Hall Award for best CHRO and HR practices for three years in a row. An avid writer, published numerous articles, case studies in major dailies & business journals like Duke's publishing.</p>
                      
                      <p>Orchestrated landmark IR scenario's, world-class HR processes & practices around Hiring, cultural/performance transformation, multiple M&As, Leadership Development & Compensation Benefit/ESOPs.</p>
                      
                      <p>I have been a part of Supreme Court advisory committee to from legislation. Also Chairman of the telecom skill development committee.</p>
                      
                      <p>Passionate about Sport( played hockey@national level), People, Arts including Cinema, AstroMetric, and DIY.</p>
                      
                      <p>Sports and Mythology are pivotal sources from which I derive energies to explore, practice, preach and stay adventurous.</p>
               <p>Well rounded HR-strategic & operation exposure, spanning diverse sectors specifically FMCG-Cosmetic and Personal Product & Food/Beverage, Telecom & retail.Sandeep has successfully orchestrated landmark IR scenario. He also learnt, conceptualized & implemented some of world-class HR processes & practices around Hiring, Retention, Leadership Development & Compensation/Benefit.</p> -->
          
              <!-- <div class="col-md-6">
              <div class="about_content_area">
               <img src="assets/img/7.PNG" class="img-circle">
               <h3>Anil Sharma</h3>
               <h5>Senior Vice President – Business Development & Client Services</h5>
               <p>A seasoned HR professional with 30 years of experience with large Corporate into Manufacturing,
Automobile, IT, Oil & Gas industry. Extensively worked on Talent Acquisition, Leadership
Development , Employee Engagement, Change Management and Learning & Development.</p>
            </div>
              </div> -->
                  
             <!-- <div class="col-md-6">
              <div class="about_content_area">
               <img src="assets/img/6.PNG" class="img-circle">
               <h3>Akshay Chhugani</h3>
               <h5>Head - Product Marketing</h5>
               <p> 12+ Years of experience in the travel tech domain. Built and launched India's first Persona based Hotel
Product leveraging Artificial Intelligence and Machine Learning, extensively worked at Start Up. Heading
Product & Growth at People Infinia.</p>
            </div>
              </div>-->
              <!-- </div>
              </div> -->
              <!--<div class="row">
              <div class="col-md-6">
              <div class="about_content_area">
               <img src="assets/img/saurabh-mehta.png" class="img-circle">
               <h3>Saurabh Mehta</h3>
               <h5>Vice President, People Infinia</h5>
               <p>An astute & result oriented professional with over 13+ years of Diverse & Dedicated Experience in Recruitment, Sourcing, HR Operations & Talent Management.</p>
            </div>
              </div>
              </div>-->
         <!-- </div>
         <div id="tab-6" *ngSwitchCase="2" class="tab-content current">
            <div class="about_content_area">
               <img src="assets/img/icon/mission.png">
               <h3>Our Mission</h3>
               <h5>To bring innovation and efficiency in the recruitment process, one recruitment at a time</h5>
               <p>A strong emphasis on quick turnaround timelines
and a highly process driven and customized Search
Practice which relies heavily on knowledge
management and industry research paradigms,
ensures that the results are swift, sure and
outstanding, as is witnessed through our client
portfolio and success record.</p> -->
               <!--<p>Recruiting is hard ! It does not matter whether you are a startup of 2 members looking to find their new co founder, or a fortune 500 looking to hire their next Sales Manager. <br> Recruitment in current times require blood, sweat and more. </p>
               <p>Most of the companies rely heavily on multiple job consultants to hire for the vacant position. For any job requirement, the corporates on average are talking to 5-6 consultants. Imagine all these consultants sending out multiple resumes on a daily basis. It’s an exhausting process for the corporate HRs to look through all these resumes to shortlist the ones they would like to interview. Even when they shortlist the candidates, scheduling interviews, coordinating with the job candidates, the background check and other formalities are time intensive and prone to confusions and errors.</p>
               <p>On the other hand, hiring the right candidate for their corporate clients is not an easy job for consultant as well. While constantly looking for talent, they also have to do the outreach and sales to keep the business running. All consultants are great at hiring but not all are necessarily good at sales. It gets especially hard for individual consultants or small consultancy firms.</p>
               <p>People Infinia is trying to build a marketplace for solving problem for both corporates and the Consultants. It is making sure Corporates are finding the best from the best, while also preserving the consultant’s interests. </p>-->
            <!-- </div>
         </div>
         <div id="tab-7" *ngSwitchCase="3" class="tab-content current">
            <div class="about_content_area">
               <img src="assets/img/icon/vision.png">
               <h3>Our Vision</h3>
               <h5>To create an unbiased highly intelligent recruitment marketplace where technology helps Employers to find the best hiring experts and consultants are able to find the good work based on their performance</h5>
               <p>To align Talent and Organizational Strategies using
Technology & Innovative Recruitment Process</p>
            </div>
         </div>
         <div id="tab-8" *ngSwitchCase="4" class="tab-content current">
            <div class="about_content_area">
               <img src="assets/img/icon/story.png">
               <h3>Our Story</h3>
               <h5>People Infinia is a perfect example of how technology can disrupt traditional methods and businesses for the good. </h5>
               <p>It is the brainchild of Rohini Rajdev, who has been credited with helping many companies to fill some of the most coveted leadership positions in India, United States, Dubai and Africa. <br> As a recruiter and later as someone running her own business, Rohini knew firsthand, how broken the recruitment process is. Frustrated with her own hardships, Rohini had a vision to help companies find the best candidates and to help job recruiters to find the best gigs.</p>
               <p>The seeds for People Infinia were planted 14 years back, when Rohini Rajdev alongwith a team of highly competant HR experts launched Anil associates placement pvt ltd. The company steadily rose to prominence in next few year. By the year 2010, Anil Associates Placement had 20 Consumer and FMCG brand nationally onboard. In 2014, the company reached another milestone by becoming a Domain Specialized Recruitment Service Provider. <br>
               <p>Since then the company has never looked back. Today standing strong with a global reach with more than 100 clients including some of the biggest names in the world, Anil associates is launching People Infinia - the AI powered global marketplace for job consultants.</p>
            </div>
            <div class="row" style="margin-top: 50px;">
               <div class="col-md-6">
                  <h3>Our Core Strength</h3>
                  <ol type="1" class="about_features">
                        <li>Quality</li>
                        <li>Speed</li>
                        <li>Technology</li>
                        <li>Team</li>
                     </ol>
               </div>
               <div class="col-md-6">
                     <h3>Our Search Methodology</h3>
                     <p>Our Selection process is based on a structured and systematic approach, which is proactive, scientific, Technology based, detailed and result obtained.</p>
                     <p>This process begins with understanding the client's needs and goes all the way to follow-up with both clients and consultants post recruitment.</p>
                  </div>
               </div>
         </div>
         <div id="tab-9" *ngSwitchCase="5" class="tab-content current">
            <div class="about_content_area">
               <img src="assets/img/icon/different.png">
               <h3>How are we Different</h3>
               <h5>People Infinia’s brings you 1000’s of job consultants without ever needing to manage any of them.</h5>
               <p>If you are rolling your eyes wondering, how is it any different than any other Recruiter’s marketplace - Think Again. With its sophisticated use of technology and User Experience, People Infinia is ensuring that corporates get the most relevant hiring experts and consultants get the most relevant recruitment opportunities.</p>
               <p>Employers get proposals only from the recruiters specialized in the domain they are hiring and recruiters only get recruitment opportunities in their relevant field of interest and experience. </p>
            </div>
         </div>
         <div id="tab-10" *ngSwitchCase="6" class="tab-content current">
            <div class="about_content_area">
               <h3>What is People Infinia</h3>
            <ol type="1" class="about_features">
               <li>We provide a Unique Value preposition for companies who want to take our
                  expertise services.</li>
                  
                 <li> Large reach to get the best candidates.</li>
                  
                 <li> We have super specialist recruiters Pan India level to provide best fit
                  candidate.</li>
                  
                  <li>Specialise in bulk recruitment.</li>
                  
                  <li>The speed for delivering best candidate.</li>
                  
                  <li>Our AI based Technology Platform uniquely deliver the most suitable
                  candidate.</li>
                  
                  <li>Technology to support the recruitment process.</li>
                  
                  <li>Candidate Engagement till joins the company.</li>

                  <li>Backed by very experienced Team of HR & Technology
                     professionals</li>
                     
                    <li> Dedicated client engagement Team.</li>
                     
                     <li>Dual filtser for shortlisting of CV’s.</li>
                     
                    <li> Back ground verification of selected candidates & services related
                     to joining formalities.</li>
                     
                     <li>We use algorithms and analytics to select, manage, track, and
                     promote the recruiters pool based on productivity and quality.</li>
            </ol> -->
               <!--<p>Recruiting is hard ! It does not matter whether you are a startup of 2 members looking to find their new co founder, or a fortune 500 looking to hire their next Sales Manager. <br> Recruitment in current times require blood, sweat and more. </p>
               <p>Most of the companies rely heavily on multiple job consultants to hire for the vacant position. For any job requirement, the corporates on average are talking to 5-6 consultants. Imagine all these consultants sending out multiple resumes on a daily basis. It’s an exhausting process for the corporate HRs to look through all these resumes to shortlist the ones they would like to interview. Even when they shortlist the candidates, scheduling interviews, coordinating with the job candidates, the background check and other formalities are time intensive and prone to confusions and errors.</p>
               <p>On the other hand, hiring the right candidate for their corporate clients is not an easy job for consultant as well. While constantly looking for talent, they also have to do the outreach and sales to keep the business running. All consultants are great at hiring but not all are necessarily good at sales. It gets especially hard for individual consultants or small consultancy firms.</p>
               <p>People Infinia is trying to build a marketplace for solving problem for both corporates and the Consultants. It is making sure Corporates are finding the best from the best, while also preserving the consultant’s interests. </p>-->
            <!-- </div>
         </div>
         <div id="tab-11" *ngSwitchCase="7" class="tab-content current">
            <div class="about_content_area">
               <h3>Why People</h3>
               <div class="row">
                  <div class="col-md-2 col-md-offset-3">
                     <h3 style="border-bottom: 5px solid green;">Faster</h3>
                  </div>
                  <div class="col-md-2">
                     <h3 style="border-bottom: 5px solid green;">Better</h3>
                  </div>
                  <div class="col-md-2">
                     <h3 style="border-bottom: 5px solid green;">Relevant</h3>
                  </div>
               </div>
               <div class="row why-people">
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-4">
                           <img src="assets/img/1.PNG">
                        </div>
                        <div class="col-md-8">
                           <h4>AI Driven Platform</h4>
                           <p>Post your requirement on People Infinia and let the AI do the shortlisting for you. The AI will shortlist top 5 CV's to ease your recruitment efforts.</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-4">
                           <img src="assets/img/2.PNG">
                        </div>
                        <div class="col-md-8">
                           <h4>Only specialist always</h4>
                           <p>People Infinia has onboarded 1000+ freelance recruiters & firms from each vertical & function to make sure the positions closed by an industry expert.</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-4">
                           <img src="assets/img/3.PNG">
                        </div>
                        <div class="col-md-8">
                           <h4>Efficient 03 steps screening</h4>
                           <p>1<sup>st</sup> screening:- Recruiter<br>2<sup>nd</sup> screening:- Team People<br>3<sup>rd</sup> screening:- AI Driven Platform</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-4">
                           <img src="assets/img/4.PNG">
                        </div>
                        <div class="col-md-8">
                           <h4>Closer with in 07 days</h4>
                           <p>People Infinia with 100's of freelance recruiter & firm at a time to ensure the client gets the best possible talent within 07 days of posting and positions</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-12">
                     <hr>
                  </div>
                  <div class="col-md-6" align="center">
                     <img src="assets/img/5.PNG" class="how-it-work">
                  </div>
                  <div class="col-md-6">
                     <ol type="1" class="about_features" style="padding-top:65px">
                        <li>We understand the success factors.</li>
                        <li>We know the Market.</li>
                        <li>We become single point of contact.</li>
                        <li>We deliver results.</li>
                     </ol>
                  </div>
               </div>
            </div>
         </div>


        <div id="tab-12" *ngSwitchCase="7" class="tab-content current">
            <div class="about_content_area">
            	<h3>How to use B to C</h3>
            	<h4 style="margin-top: 30px;"><strong>How Condultant can register and access People Infinia?</strong></h4>
            	<ul>
            		<li>Register entering required details.</li>
            		<li>Login with given email ID and password.</li>
            		<li>Check out the snapshot of your profile where you can see Total Candidates Posted, People Infinia Qualified, Candidates Shortlisted and Candidates Placed, New Jobs Posted and Notification Feed.</li>
            		<li>Access Manage Jobs sorted by Job Position, Posted By, Location, Date Posted, Job Status, Application, Shortlisted and Actions.</li>
            		<li>View the list of candidates available with the Name, Location, Phone Number, Current Location, Status and Action.</li>
            		<li>Access Schedule in which you can see the calendar company-wise on the basis of day, week and month.</li>
            		<li>Log your problems using Support Issue in case of any problems. </li>
            	</ul>
            	<h4 style="margin-top: 30px;"><strong>How Clients can register and access People Infinia?</strong></h4>
            	<ul>
            		<li>Register entering required details.</li>
            		<li>Login using set ID and Password.</li>
            		<li>Post a new job uploading job description, job title, functional area, industry, grading, skills, number of vacancies, gender, location, CTC & perks and period & contracts. </li>
            		<li>Access dashboard where you can see the snapshot of Total Jobs Posted, Interviews Scheduled and Shortlisted Resumes. Check out the Interviews and Reschedule Requests.</li>
            		<li>Manage Jobs after editing, posting, deleting and viewing responses.</li>
            		<li>Check out the candidates available sort as shortlisted, interviewed, on hold and hired.</li>
            		<li>Check out Schedule for upcoming interviews.</li>
            		<li>Submit issues, if any.</li>
            	</ul>

               <h3>How to use B to C</h3>

               <h4 style="margin-top: 30px;"><strong>How Recruiters can register and access People Infinia?</strong></h4>
          <ul>
          	<li>Click on Sign Up.</li>
          	<li>Fill in the necessary details such as account information, company information, concerned person details, job openings & details, application settings etc.</li>
          	<li>After submitting the job posting, the requirement along with your contact details will be sent to the matching candidates and consultants over email.</li>
          	<li>In your profile, you will see number of job postings, number of candidates available for same position, number of candidates applied for the job and status of job requirement.</li>
          	<li>Recruiters require a Resume Subscription. Each Resume Subscription grants you up to 50 or 100 new contacts every month (depending on which plan you select). Unused contacts will roll over for six months.</li>
          	<li>High-quality contacts will be rewarded, which will be done by crediting a contact back to your account anytime you get a job seeker’s response.</li>
          	<li>To access resume subscription, log in to your account at peopleinfinia.com/resume and click your email address shown in the top right of the page. In the dropdown box, select ‘Subscription Management’. Information regarding your subscription renewals (monthly or annual) is labeled for each subscription within your account.</li>
          </ul>
          <p><strong>Note:</strong> Recruiters will have to pay INR 1000/month to post jobs on People Infinia and get the right candidates for the relevant positions. </p>



        <h4 style="margin-top: 30px;"><strong>How Consultants can register and access People Infinia?</strong></h4>
          <ul>
          	<li>Click on Sign Up.</li>
          	<li>Fill in the necessary details such as personal information, company information (if any), job details, billing details, job posting settings etc.</li>
          	<li>After submitting the job posting, the requirement along with your contact details will be sent to the matching candidates over People Infinia portal and email.</li>
          	<li>In your profile, you will see number of job postings, number of candidates available for same position, number of candidates applied for the job and status of job requirement.</li>
          	<li>Consultants require a Resume Subscription. Each Resume Subscription grants you up to 50 or 100 new contacts every month (depending on which plan you select). Unused contacts will roll over for six months.</li>
          	<li>High-quality contacts will be rewarded, which will be done by crediting a contact back to your account anytime you get a job seeker’s response.</li>
          	<li>To access resume subscription, log in to your account at peopleinfinia.com/resume and click your email address shown in the top right of the page. In the dropdown box, select ‘Subscription Management’. Information regarding your subscription renewals (monthly or annual) is labeled for each subscription within your account. </li>
          </ul>
          <p><strong>Note:</strong> Consultant will have to pay INR 1000/month to post jobs on People Infinia and get the right candidates for the relevant positions.</p>



          <h4 style="margin-top: 30px;"><strong>How job seekers can apply on People Infinia?</strong></h4>
          <ul>
          	<li>Visit www.peopleinfinia.com/apply and click on Sign Up button.</li>
          	<li>Fill out the necessary details given such as Name, Contact Details, Functionality, Industry, Experience, CTC etc. in Sign Up form and click “Continue” to see a preview of your job application.</li>
          	<li>At the end of the process, click “Confirm” and your resume will be uploaded on People Infinia.</li>
          	<li>Based on the details provided and CV submitted, user will be sent relevant job posting along with contact details over People Infinia portal and email.</li>
          </ul>
          <p><strong>Note:</strong> For Freshers, there will be no section about employment. Only personal and educational details need to be filled by the user.</p>

            </div>
         </div>
      </div>
   </div>
</section> -->


<section class="about-main pt-5">
      <img src="/assets/img/about-b.png" class="img-responsive" alt="">
      <div class="container pt-5">
        <div class="row">
          <div class="col-md-9">
            <div class="about-inn margint">
              <h2 class="text-success my-5">About People Infinia</h2>
              <h3 class="text-success my-4 font-weight-bold">India’s first AI based online marketplace for Jobs</h3>
              <p class="my-2">We at People Infinia are obsessed with the capabilities of AI infused into the human resource hiring mechanism. It is an algorithm built by a team of 
                  experienced HR Managers, Institutional Behaviour Analysts, Data Scientists, 
                  Programmers and Non-clinical Psychologists with 2 step screening by
                  domain-specific hiring specialist and consultants all across India.</p>
              <p class="my-2">The recruitment and hiring function across all industries is getting 
              complex and diluted with outdated technology that is time consuming 
              and biased cognitive selections often leading to a job and resource 
              mismatch. Our business objective is to simplify the process and 
              enable hiring managers in companies and recruiters to make 
              smarter data based, unbiased, AI assisted search & match to 
              make lives easier for both managers and job applicants.</p>
              <h5 class="text-success font-weight-bold my-4">PEOPLE AND OPPORTUNITES ARE EVERYWHERE,<br>
              WE FIND & CONNECT BOTH</h5>
              <p class="my-2">No matter how large the size of an organization is, only a handful 
              data of relevant talent is immediately accessible and even lesser 
              fraction of qualified candidates actually apply for the position.</p>
              <p>Companies and recruiters in the People Infinia network of domain 
              specialised consultants all over India (including tier 2 and tier 
              3 cities as well) and AI based search algorithms get a competitive 
              advantage with immediate access to new pool of highly relevant 
              candidates whose data was earlier available only locally.</p>
              <p class="mt-3 mb-5">We have a inhouse team to maintain checks on quality and confidentiality of data.</p>
            </div>
            <div class="about-img my-2">
                <img src="/assets/img/about-b.png" class="img-responsive" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>