<div id="recruiter-sign-up">
   <div class="signup-box">
      <!--heading-text-->
      <h1>Create a Consultant Account</h1>
      <!--linkeidn-btn-->
      <div class="connect-linkedin m-t-40">
         <a class="btn-social btn-linkedin">
         <i class="fab fa-linkedin"></i> Connect with LinkedIn account
         </a>
      </div>
      <!--company-profile-->
      <div class="sign-up-profile m-t-20">
         <div class="row">
            <div class="col-md-2">
               <div class="icon-addon">
                  <img src="https://secure.gravatar.com/avatar/de9b11d0f9c0569ba917393ed5e5b3ab?s=140&r=g&d=mm" class="img-circle">
                  <span class="upadate-img"><i class="fas fa-pen"></i></span>
               </div>
            </div>
            <div class="col-md-10">
               <div class="user-info">
                  <h4>Upload your company's Logo</h4>
                  <h6>Best resolution 200*200,Size less than 10kb.</h6>
               </div>
            </div>
         </div>
      </div>
      <div class="sign-up-form m-t-20">
         <form action="/">
            <!--name-->
            <div class="form-group">
               <label class="control-label">Your Name</label>
               <input name="" type="text" placeholder="Enter your name, for eg. rohan" class="form-control-cust">
            </div>
            <!--Individual or agancey-->
            <div class="form-group">
               <label class="control-label">Are you a Individual or an agancy?</label>
               <input name="" type="text" placeholder="Please choose individual or Agenncy." class="form-control-cust">
            </div>
            <!--Designation-->
            <div class="form-group">
               <label class="control-label">Your Designation</label>
               <input name="" type="text" placeholder="Your Position in company. for eg.HR Manager " class="form-control-cust">
            </div>
            <!--Loaction-->
            <div class="form-group" style="display: none;">
               <label class="control-label">Your Loaction</label>
               <input name="" type="text" placeholder="Enter the area you work in. for eg.Gurgaon " class="form-control-cust">
            </div>
            <!--Description-->
            <div class="form-group">
               <label class="control-label">Agency's description (optional)</label>
               <textarea placeholder="Describe about the sector, culture, achivement, and more about your company."></textarea>
            </div>
         </form>
         <p class="text-center">
            <a class="btn btn-success">Create Account Now</a>
         </p>
      </div>
   </div>
</div>