<section class="mt-5" align="center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="sign-up">
            <h3 class="heading">Tell us about your self</h3>
            <p class="para-color">Find the right job on Peopleinfinia. You are few steps away from millions of jobs.</p>
            <div class="row mt-4 mb-4">
              <div class="col-md-10 offset-md-1">
                <div class="row">
                  <div class="col-md-6">
                    <div (click)="signUpFresher()" class="f-img-box"></div>
                    <p class="para-color"><strong>I am a Fresher!</strong></p>
                    <p class="para-color">I have just graduate/I haven't worked after graduation</p>
                  </div>
                  <div class="col-md-6">
                    <div (click)= "signUpProfessional()" class="p-img-box"></div>
                    <p class="para-color"><strong>I am a Professional</strong></p>
                    <p class="para-color">I have at least 1 month of work experience</p>
                  </div>
                </div>
              </div>
            </div>
            <h4 class="mt-5">More than 3 lakhs Jobs | More than 1 lakh Recruiters</h4>
            <p class="mt-5 para-color"><strong>After you register, you can:</strong></p>
            <ul align="left">
              <li><p class="para-color">- Apply to jobs from the site while keeping your resume hidden from all recruiters.</p></li>
              <li><p class="para-color">- Mark yourself as a 'passive jobseeker' if you are not actively looking for a job.</p></li>
              <li><p class="para-color">- Block your company or other specific companies from viewing your profile.</p></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
