
<section id="view-status-leads">
    
    <!--back-btn-->
        <div class="back-to">
         <p class="text-left"> <a class="back-btn"><img src="assets/img/left-arrow.svg" width="20px" height="auto"> &nbsp;
Back</a>
         </p>
      </div>
    <!--end-->
        
    
    <!--lead-deatail-->
    <div class="row m-t-50">
        
    <!--lead-deatail-container-->
        <div class="col-md-3">
            <div class="lead-deatail-container">
                <div class="lead-info">
                <h4>Aman gautam</h4>
                <p>UX Gorilla</p>
                </div>
                
                <div class="lead-contact-info">
                <p>+91-8888888888</p>
                <p>aman.gautam@uxgorilla.com</p>
                </div>
                
                <h2 class="theme_color contrat-sts">Contarct Signed waiting for payment.</h2>
                
                
                <button type="button" class="btn btn-danger">Mark span</button>
            </div>
        
        </div>
        
        
        <!--deatail status-timeline-->
        <div class="col-md-9">
            <div class="row">
            <div class="col-md-12">
            <div class="select-opt-wrapper">
                <ul class="list-inline f-left">
                <li><a>Detailed status</a></li>
                </ul>
                
                
                <ul class="list-inline f-right">
                    <li><a class="btn btn-warning">Archieved Accounts</a></li>
                     <li><a class="btn btn-success">Active Accounts</a></li>
                  </ul>
                </div>
            </div>
        </div>
            
            <div class="lead-timeline">
            <div class="issue-stats m-t-40">
               <ul class="timeline">
                  <li class="timeline-li">
                     <p>Signed Up.</p>
                     <span>15 june, 06:50 PM</span>
                  </li>
                  <li class="timeline-li">
                     <p>Email verification Complete</p>
                     <span>16 june, 11:00 AM</span>
                  </li>
                  <li class="timeline-li">
                     <p>Verified on call.</p>
                     <span>17 june, 10:00 AM</span>
                  </li>
                   <li class="timeline-li">
                     <p>Contract signed.</p>
                     <span>17 june, 10:00 AM</span>
                  </li>
                  <li class="timeline-li">
                      <div class="dropdown">
  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
  <i class="fas fa-angle-down"></i> </button>
  <ul class="dropdown-menu">
    <li><a href="#">Call Verification</a></li>
    <li><a href="#">Contract Status</a></li>
    <li><a href="#">Payment Status</a></li>
  </ul>
</div>
                  </li>
               </ul>
            </div>
            </div>
            
        </div>
        </div>
</section>