<!-- change-password-modal -->

<!-- Modal content-->
<div class="modal-content">
  <div class="close  cls-cstm" style="margin-top: 10px; margin-left: auto; transform: scale(0.6); margin-right: 10px;">
    <a data-dismiss="modal" aria-hidden="true" (click)="goBack()"><img src="assets/img/cancel.png"></a>
  </div>
  <!--inquire-modal-->
  <div id="manage-new-acc-sign-up">
    <div class="signup-box">
      <!--heading-text-->
      <div class="row">
        <div class="col-md-12">
          <h1>Change Password</h1>
        </div>
      </div>
      <div class="row">
        <div class="sign-up-form m-t-20">
          <form [formGroup]="changePasswordForm">
            <div class="col-md-12 form-group">
              <div class=" input-box">
                <div class="input-group">
                  <label class="control-label">Old password</label>
                  <input aria-label="password" type="password" name="oldPassword" formControlName="oldPassword"
                         id="oldPassword" placeholder="Old Password" class="form-control" autocomplete="nope">
                  <div *ngIf="changeSubmitted && changePasswordForm.controls.oldPassword.hasError('required')"
                       class="alert alert-danger">Old Password Required
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 form-group">
              <div class=" input-box">
                <div class="input-group">
                  <label class="control-label">New password</label>
                  <input aria-label="password" type="password" name="password" formControlName="password"
                         name="first_name" placeholder="Password" class="form-control" autocomplete="nope">
                  <div *ngIf="changeSubmitted && changePasswordForm.controls.password.hasError('required')"
                       class="requried alert alert-danger">Password Required
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 form-group">
              <div class=" input-box">
                <div class="input-group">
                  <label class="control-label">Confirm password</label>
                  <input aria-label="password" type="password" name="confirmPassword" formControlName="confirmPassword"
                         placeholder="Confirm Password" class="form-control" autocomplete="nope">
                  <div *ngIf="changeSubmitted && changePasswordForm.controls.confirmPassword.hasError('required')"
                       class="alert alert-danger">Conform Password Required
                  </div>
                  <div
                    *ngIf="changePasswordForm.controls.confirmPassword.touched && changePasswordForm.controls.confirmPassword.value != changePasswordForm.controls.password.value"
                    class="alert alert-danger">Password Do not Match
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 form-group text-center cancelPass">
              <div class="input-box text-center" style="margin-top: 20px; display: block;">
                <button type="submit" aria-label="submit" (click)="onChangePassword()" class="btn btn-success">Change
                  Password
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

