<!-- <section class="about-main pt-5">
    <div class="container pt-5">
      <div class="row">
        <div class="col-md-12">
          <div class="about-inn py-5 subscribes">
            <h2 class="text-center mt-5">Pricing Plan</h2>
            <h3 class="text-center text-success mt-3 newDiv">EARLY BIRD SUBSCRIPTION @ INR 499 only.</h3>
            <h3 class="text-success text-center mt-1 mb-4">or call us at +91 <span>9560394071</span> if you have any questions</h3>
          <div class="row mt-5 pt-4">
            <div class="col-lg-3 col-sm-6">
              <div class="subscribem subscribe1">
                  <h4 class="text-white font-weight-bold mt-3">RECRUITER</h4>
                <div class="subscribe-inn1">
                  <div class="subcribe-inner">
                    <h2>INR 499</h2>
                    <P>/Month <span class="subscribePricingDiv">(6.99 USD p.m)</span></P>
                  </div>
                </div>
                <ul>
                  <li><i class="fa fa-check" aria-hidden="true"></i> INR 499 / MONTH</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> INR 4999 / YEAR</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Get Unlimited Job Posting</li>
                </ul>
                <p class="subscribeNotes">NOTE: Upon selection of the candidate the charges are as per contract with People Infinia</p>
                <button class="btn btn-light">PAYMENT</button>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="subscribem subscribe2">
                <h4 class="text-white font-weight-bold mt-3">CORPORATE</h4>
                <div class="subscribe-inn2">
                  <div class="subcribe-inner">
                    <h2>AI ASSISTED</h2>
                    <P>CONSULTANT</P>
                  </div>
                </div>
         
                <p class="subscribeNotes AIMarginDiv">Choose a AI assisted Consultant for your highly specific requirements or specialized domain at 7.5 to 12% We have only the best consultants from all over India empanlled with us.</p>
                <button class="btn btn-light">PAYMENT</button>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="subscribem subscribe3">
                <h4 class="text-white font-weight-bold mt-3">TALENT POOL</h4>
                <div class="subscribe-inn3">
                  <div class="subcribe-inner">
                    <h2>INR 599</h2>
                    <P>/Month <span class="subscribePricingDiv">(9 USD p.m)</span></P>
                  </div>
                </div>
                <ul>
                  <li><i class="fa fa-check" aria-hidden="true"></i> INR 599 / month or view 100 resume</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> INR 5999/year or view 1500 resume</li>
                </ul>
                <p class="subscribeNotes"></p>
                <button class="btn btn-light">PAYMENT</button>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="subscribem subscribe4">
                <h4 class="text-white font-weight-bold mt-3">BRANDING</h4>
                <div class="subscribe-inn4">
                  <div class="subcribe-inner">
                    <h2>INR 399</h2>
                    <P>/Month <span class="subscribePricingDiv">(6 USD p.m)</span></P>
                  </div>
                </div>
                <ul>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Featured Employers</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Sponsored Employers INR 299 / month</li>
                </ul>
                <p class="subscribeNotes"></p>
                <button class="btn btn-light">PAYMENT</button>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->



  <!-- <section class="subscribe-ai pb-5 pt-3">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
           <div class="question-inn text-center">
             <h2 class="text-white mt-4 mb-4 display-4">or Choose a AI assisted Consultant</h2>
             <p class="text-white">for your highly specific requirements  or specialized domain at 7.5 to 12%</p>
             <p class="text-white font-weight-bold">We have only the best consultants from all over India</p>
             <p class="text-white">empanlled with us.</p>
             <button class="btn btn-light text-primary font-weight-bold mt-3">B2B LOGIN</button>
           </div>
        </div>
      </div>
    </div>
  </section> -->

  <section class="subscribe-outer pt-3">
    <div class="container pt-3">
      <div class="row">
        <div class="col-md-12">
          <div class="py-5 subscribes">
            <div class="about-inn py-5 subscribes">
              <h2 class="text-center mt-5">Choose Your Plan</h2>
              <!-- <h3 class="text-center text-success mt-3 newDiv">EARLY BIRD SUBSCRIPTION @ INR 499 only.</h3> -->
              <h3 class="text-success text-center mt-1 mb-4">or call us at +91 <span>9560394071</span> if you have any questions</h3>
           </div>
              <!-- <h2 class="text-center my-3 my-md-4 font70">Choose Your Plan</h2> -->
            <!-- <h3 class="text-success text-center mt-1 mb-3 mb-lg-4 font40">or call us at +91 <span>9560394071</span> if you have any questions</h3> -->
            <!-- <h3 class="text-success text-center mt-1 mb-3 mb-lg-4 font40">or call us at +91 <span>9560394071</span> if you have any questions</h3> -->
          <div class="row mt-2 mt-lg-5  pt-2 pt-lg-4">
            <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
              <div class="subscribem subscribe1">
                  <h4 class="text-white font-weight-bold mt-3">RECRUITER</h4>
                <div class="subscribe-inn1">
                  <div class="subcribe-inner">
                    <h2>INR 599</h2>
                    <P>/Month</P>
                  </div>
                </div>
                <ul>
                  <li><i class="fa fa-check" aria-hidden="true"></i> INR 599 / MONTH</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> INR 599 / YEAR</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Get Unlimited Job Posting</li>
                </ul>
                <button (click)="Start('RECRUITER')" class="btn btn-light">PAYMENT</button>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
              <div class="subscribem subscribe2">
                <h4 class="text-white font-weight-bold mt-3">CORPORATE</h4>
                <div class="subscribe-inn2">
                  <div class="subcribe-inner">
                    <h2>INR 899</h2>
                    <P>/Month</P>
                  </div>
                </div>
                <ul>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Free for 3 Months</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> INR 899 / YEAR</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Get Unlimited Job Postings</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Annual Fees Cashback</li>
                </ul>
                <button (click)="Start('CORPORATE')" class="btn btn-light">PAYMENT</button>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
              <div class="subscribem subscribe3">
                <h4 class="text-white font-weight-bold mt-3">TALENT POOL</h4>
                <div class="subscribe-inn3">
                  <div class="subcribe-inner">
                    <h2>INR 599</h2>
                    <P>/Month</P>
                  </div>
                </div>
                <ul>
                  <li><i class="fa fa-check" aria-hidden="true"></i> INR 599 / month or view 100 resume</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> INR 5999/year or view 1500 resume</li>
                </ul>
                <button (click)="Start('TALENT')" class="btn btn-light">PAYMENT</button>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
              <div class="subscribem subscribe4">
                <h4 class="text-white font-weight-bold mt-3">BRANDING</h4>
                <div class="subscribe-inn4">
                  <div class="subcribe-inner">
                    <h2>INR 399</h2>
                    <P>/Month</P>
                  </div>
                </div>
                <ul>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Featured Employers</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Sponsored Employers INR 299 / month</li>
                </ul>
                <button (click)="Start('BRANDING')" class="btn btn-light">PAYMENT</button>
                <!-- <button (click)="Start('BRANDING')" class="btn btn-light">PAYMENT</button> -->
              </div>
            </div>
          </div>




          
          </div>
        </div>
      </div>
    </div>
  </section>
  


  <app-testimonial></app-testimonial>
<!--

  <section class="testimonial-part py-5">
    <div class="container">
      <div class="row justify-content-center py-5">
        <div class="col-md-12">
        <h2 class="text-white mb-4 font-weight-bold text-center">What Our Clients Say</h2>
      </div>
      <div class="col-md-12">
        <div id="demo2" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active text-center">
                <img src="/assets/img/client.gif" class="img-responsive my-4" alt="">
                <p class="text-white my-2 text-muted">REPLACE THIS CONTENT WITH ACTUAL CONTENT FROM CURRENT HOME PAGE</p>
                <p class="text-white my-2 text-muted">They have a comprehensive database with a veried range of profiles spanning nationalities and professions.</p>
                <p class="text-white my-2 text-muted">The team is very helpful!</p>
                <h5 class="my-4 text-white">Daniel - <span class="text-success">Workflow management</span></h5>
              </div>
              <div class="carousel-item text-center">
                <img src="/assets/img/client.gif" class="img-responsive my-4" alt="">
                <p class="text-white my-2 text-muted">REPLACE THIS CONTENT WITH ACTUAL CONTENT FROM CURRENT HOME PAGE</p>
                <p class="text-white my-2 text-muted">They have a comprehensive database with a veried range of profiles spanning nationalities and professions.</p>
                <p class="text-white my-2 text-muted">The team is very helpful!</p>
                <h5 class="my-4 text-white">Daniel - <span class="text-success">Workflow management</span></h5>
              </div>
              <div class="carousel-item text-center">
                <img src="/assets/img/client.gif" class="img-responsive my-4" alt="">
                <p class="text-white my-2 text-muted">REPLACE THIS CONTENT WITH ACTUAL CONTENT FROM CURRENT HOME PAGE</p>
                <p class="text-white my-2 text-muted">They have a comprehensive database with a veried range of profiles spanning nationalities and professions.</p>
                <p class="text-white my-2 text-muted">The team is very helpful!</p>
                <h5 class="my-4 text-white">Daniel - <span class="text-success">Workflow management</span></h5>
              </div>
            </div>
            <a class="carousel-control-prev" href="#demo2" data-slide="prev">
              <span><i class="fa fa-angle-left" aria-hidden="true"></i></span>
            </a>
            <a class="carousel-control-next" href="#demo2" data-slide="next">
              <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
            </a>
        </div>
      </div>
      </div>
    </div>
  </section>


  <section class="companies-part py-5">
    <div class="container">
      <div class="row justify-content-center py-5">
        <div class="col-md-11 text-center">
          <h2 class="mb-4">Companies We've Helped</h2>
          <p class="my-4">Some of the companies we've helped recruit excellent applicants over the years.</p>
          <h5 class="text-muted font-weight-bold">REPLACE THESE LOGOS WITH ACTUAL LOGOS FROM CURRENT HOME PAGE</h5>
          <div class="companies-inn pt-3">
            <div class="owl-carousel owl-theme">
                <div class="item"><img src="/assets/img/optimizely.gif" class="img-responsive" alt=""></div>
                <div class="item"><img src="/assets/img/optimizely.gif" class="img-responsive" alt=""></div>
                <div class="item"><img src="/assets/img/optimizely.gif" class="img-responsive" alt=""></div>
                <div class="item"><img src="/assets/img/optimizely.gif" class="img-responsive" alt=""></div>
                <div class="item"><img src="/assets/img/optimizely.gif" class="img-responsive" alt=""></div>
                <div class="item"><img src="/assets/img/optimizely.gif" class="img-responsive" alt=""></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="question-part py-5">
    <div class="container">
      <div class="row justify-content-center py-5">
        <div class="col-md-6">
           <div class="question-inn text-center">
             <h2 class="text-white mb-5 display-4">Got a question?</h2>
             <p class="text-white">We're here to help. Check out our FAQs, send us an email at</p>
             <p class="text-white font-weight-bold">support(at)peopleinfinia(dot)com</p>
             <p class="text-white">or call us at <span class="">+91 <span class="font-weight-bold">95603 94071</span></span></p>
             <button class="btn btn-light text-success mt-3">CONTACT US</button>
           </div>
        </div>
      </div>
    </div>
  </section> -->
