<section class="padd-section">
  <div class="col-md-12">
    <div class="row">
      <!--recruiter-Profile-->
      <div class="recruiter-Profile">
        <div class="title">
          <p>My Profile(#{{userID}})</p>
        </div>
        <div class="profile-content">
          <div class="row">
            <div class="col-md-10">
              <img [src]="profilePicture ? profilePicture : 'assets/img/user-placeholder.png'" class="img-circle"
                   width="100px" height="100px">
              <div class="mt-2">
                <h4>{{username}}</h4>
              </div>
            </div>
            <!--                  <div class="col-md-8">-->
            <!--                     -->
            <!--                  </div>-->
            <div class="col-md-2">
              <a (click)=" setForm()" class="edit-profile">
                <i class="fas fa-pen"></i> Edit
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--recruiter-info-->
      <div class="recruiter-info m-t-40">
        <div class="title">
          <p class="text-left">Company Information</p>
        </div>
        <div class="profile-content">
          <div class="row">
            <div class="col-md-12">
              <div class="user-contact-info">
                <p><b>Company Name:</b> {{userCompany}}</p>
                <p><b>Company Description:</b> {{userCompanyDescription}}</p>
                <p><b>Company GST No./VAT No.:</b> {{companyGSTNo}}</p>
                <p><b>Company rates of staffing (exclusive of GST):</b> {{company_rate_of_staffing}} %</p>
                <p><b>Company employee strenth:</b> {{user_employe_strength}}</p>
                <p><b>Company Office Address:</b> {{comapnyAddress}}</p>
                <p><b>Company Industry Type:</b></p>
                <div *ngFor="let indus of selectIndustry" class="cmpny-val"> {{indus.value}}</div>
                <p><b>Company date of agreement:</b> {{aggrementDate}}</p>
                <p><b>Company agreement start date:</b> {{aggrementStartDate}}</p>
                <p><b>Company agreement end date:</b> {{aggrementEndDate}}</p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="recruiter-info m-t-40">
        <div class="title">
          <p class="text-left">Contact Information</p>
        </div>
        <div class="profile-content">
          <div class="row">
            <div class="col-md-12">
              <div class="user-contact-info">
                <p><b>Phone:</b> {{userMobile}}</p>
                <p><b>Email:</b> {{userEmail}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog signup_popup_inner_wrapper  modal-lg">
    <div class="modal-content ">
      <div class="modal-body">
        <div class="close  cls-cstm" style="margin-top: 10px;margin-right: 10px;transform: scale(0.6);">
          <a data-dismiss="modal" aria-hidden="true"><img (click)="editModal.hide() ; submittedF()"
                                                          src="assets/img/cancel.png"></a>
        </div>
        <div class="profile-pic-contnt" align="center">
          <div class="update-profile-pic">
            <img [src]="imageUrl ? imageUrl : 'assets/img/user-placeholder.png'" class="img-circle img-thumbnail" alt="" style="height:150px; width: 150px;">
            <span _ngcontent-c2="">
                      <label id="my-edit"><i _ngcontent-c2="" class="far fa-edit"></i>
                      <input _ngcontent-c2="" (change)="handleFileSelect($event)" type="file"></label></span>
          </div>
        </div>
        <div class="signup_box">
          <form class="update-profile-form" [formGroup]="editForm" (ngSubmit)="updateProfile()" novalidate>
            <div class="row">
              <div class="recruiter-info cst-edit-form">
                <div class="title">Edit profile</div>
                <div class="col-md-12">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Name</label>
                      <input formControlName='name' type="text" placeholder="Enter your name" class="form-control-cust">
                    </div>
                    <div *ngIf="submitted && editForm.controls.name.hasError('required')" class="alert alert-danger">
                      Name Required
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Contact</label>
                      <input formControlName='contact' type="text" placeholder="Enter your contact no"
                             class="form-control-cust">
                    </div>
                    <div *ngIf="submitted && editForm.controls.contact.hasError('required')" class="alert alert-danger">
                      Phone Number Required
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Email</label>
                      <input formControlName='email' type="text" placeholder="Enter your E-mail"
                             class="form-control-cust" readonly>
                    </div>
                    <div *ngIf="submitted && editForm.controls.email.hasError('required')" class="alert alert-danger">
                      Email Required
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Company Name</label>
                      <input formControlName='companyName' type="text" placeholder="Company Name"
                             class="form-control-cust">
                    </div>
                    <div *ngIf="submitted && editForm.controls.companyName.hasError('required')"
                         class="alert alert-danger">Company Name Required
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Company Description</label>
                      <input formControlName='companyBrief' type="text" placeholder="Company Description"
                             class="form-control-cust">
                    </div>
                    <div *ngIf="submitted && editForm.controls.companyBrief.hasError('required')"
                         class="alert alert-danger">Company Description Required
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Corporate Address</label>
                      <input formControlName='address' type="text" placeholder="Enter your Location"
                             class="form-control-cust" style="line-height: normal">
                    </div>
                    <div *ngIf="submitted && editForm.controls.address.hasError('required')" class="alert alert-danger">
                      Address Required
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>GST NO.</label>
                      <input formControlName='GSTNo' type="text" placeholder="Enter your GST No."
                             class="form-control-cust" style="line-height: normal">
                    </div>
                    <div *ngIf="submitted && editForm.controls.GSTNo.hasError('required')" class="alert alert-danger">
                      GST No. Required
                    </div>
                    <div *ngIf="editForm.controls.GSTNo.hasError('pattern')" class="alert alert-danger">Invalid GST
                      No.
                    </div>

                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Rate of Staffing (exclusive of GST)</label>
                      <!-- <input formControlName='rateStaffing' type="number" placeholder="Rate (in percentage)" class="form-control-cust"> -->
                      <select class="form-control-selct" aria-label="otherAccount" formControlName='rateStaffing'
                              placeholder='rateStaffing'>
                        <option>-- Select --</option>
                        <option *ngFor="let x of rateofStaffing" value="{{x.value}}">
                          {{x.display}}
                        </option>
                      </select>
                    </div>
                    <div *ngIf="submitted && editForm.controls.rateStaffing.hasError('required')"
                         class="alert alert-danger">Rate Required
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>No. of Employes</label>
                      <select class="form-control-selct" aria-label="employeStrength" formControlName='employeStrength'
                              placeholder='employeStrength'>
                        <option *ngFor="let x of noEmployes" value="{{x}}">
                          {{x}}
                        </option>
                      </select>
                      <!--                         <input formControlName='employeStrength' type="text" placeholder="Enter your Location" class="form-control-cust"> -->
                    </div>
                    <div *ngIf="submitted && editForm.controls.employeStrength.hasError('required')"
                         class="alert alert-danger">field Required
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group my-multi" style="margin-bottom: 18px;">
                      <label>Industry Type</label>
                      <ng-multiselect-dropdown
                        [placeholder]="'Select Industry'"
                        formControlName="type"
                        [data]="industries"
                        [settings]="dropdownSettingsI"
                        (onSelect)="onItemSelectI($event)"
                        (onSelectAll)="onSelectAllI($event)"
                        (onDeSelect)="OnItemDeSelectI($event)"
                        (onDeSelectAll)="onDeSelectAllI($event)"
                      >
                      </ng-multiselect-dropdown>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Agreement date</label>
                      <input formControlName='aggrementDate' type="date" class="form-control-cust">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Agreement start date</label>
                      <input formControlName='startDate' type="date" class="form-control-cust">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Agreement end date</label>
                      <input formControlName='endDate' type="date" class="form-control-cust">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="update-form text-center">
              <button class="btn btn-success" type="submit" aria-label="submit">Update Profile</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
