<section class="huge-talent-out pt-5">
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-12">
        <div class="about-inn terms-conditions">
          <h2 class="text-success my-5">Refund Policy</h2>
           <h5>REFUND POLICY FOR CORPORATES:</h5>
            <p>Payments for the services offered by PeopleInfinia.com shall be as per contract. Refund if any will be at the sole discretion of MultiLinks Human Resource Pvt. Ltd. Refunds to corporates will be in the form of free of cost replacement of alternate candidate for the same position if the candidate leaves the job before 90 days from date of joining.</p>
            <br>
            <h5>REFUND POLICY FOR CONSULTANTS</h5>
            <p>funds to consultants  will be made only after 90 days or after receipt from corporate. if their candidate leaves before 90 days or as per the contract with the corporate and people infinia they have to refund money</p>

            <br>
            <p>MultiLinks Human Resource Pvt. Ltd. offers no guarantees whatsoever for the accuracy or timeliness of the refunds reaching the Customers card/bank accounts. MultiLinks Human Resource Pvt. Ltd. gives no guarantees of server uptime or applications working properly. All is on a best effort basis and liability is limited to refund of amount only. MultiLinks Human Resource Pvt. Ltd. undertakes no liability for free services. MultiLinks Human Resource Pvt. Ltd. reserves its right to amend/alter or change all or any disclaimers or terms of agreements at any time without any prior notice. All terms/disclaimers whether specifically mentioned or not shall be deemed to be included if any reference is made to them.</p>
          
          
          



        </div>
      </div>
    </div>
  </div>
</section>